<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django channels</title>
</head>

<body>
    <h1>Django channels</h1>
    <div>{{ text }}</div>

    <div id="socket"></div>


    <script>
        var socket = new WebSocket('ws://localhost:8000/ws/message/')
        socket.onmessage = function (event) {
            var data = JSON.parse(event.data)
            console.log(data)
            document.getElementById('socket').innerText = data.message
        }
    </script>
</body>

</html>